.user__btn {
    cursor: pointer;
}

.users-table {
    margin-bottom: 60px;
}

.user-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    opacity: .85;
    background: #000000;
}

.add-user-btn {
    height: 30px;
    margin-top: 10px;
}

.user-filter {
    display: inline-block;
    max-width: 400px;
    color:white;
}

.user-panel__wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}